.wrapper {
    width: 1051px;
    margin: 0 auto;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.header__auth {
    display: flex;
}
.header__nav ul {
    list-style-type: none;
}
.header__nav ul li {
    display: inline-block;
}
.header__nav ul li:not(:last-of-type) {
    margin-right: 61px; 
}
.header__li-selected {
    font-weight: bold;
}
.btn {
    background: #EDCF83;
    text-align: center;
    border-radius: 15px;
    transition-duration: .5s;
}
.btn:hover {
    background: #263238;
    color: white;
}
.main__btn {
    height: 37px;   
    max-width: 255px;
}
.btn span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-decoration: none;
}
.auth__btn:not(:last-of-type) {
    margin-right: 50px;
}
main {
    flex-grow: 1;
}
.main__wrapper {
    display: flex;
    justify-content: space-between;
}
.main__img {
    object-fit: contain;
}
.footer {
    height: 100px;
}
.main__look {
    padding-top: 130px;
    max-width: 450px;
}
.main__title {
    margin-bottom: 34px;
    font-family: Ubuntu;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #263238;
}
.main__title-smaller {
    font-size: 30px;
}
.main__subtitle {
    margin-bottom: 34px;
}